



<!DOCTYPE html>
<html lang="fr">

  <head>



    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>   {{_menu._page}}</title>
    
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      <!-- Bootstrap Core CSS -->
      <link href="/public/admin/css/bootstrap.min.css" rel="stylesheet">
      <link href="/public/src/css/over-bootstrap.css" rel="stylesheet" type="text/css"/>
      <!-- MetisMenu CSS -->
      <link href="/public/admin/css/metisMenu.min.css" rel="stylesheet">

      <!-- Custom CSS -->
      <link href="/public/admin/css/sb-admin-2.css" rel="stylesheet">
      <!-- Custom Fonts -->
      <link href="/public/admin/css/font-awesome.min.css" rel="stylesheet" type="text/css">


      {% block headcss %}


      {% endblock %}



      <!-- jQuery -->
      <script src="/public/admin/js/jquery.min.js"></script>
      <!-- Bootstrap Core JavaScript -->
      <script src="/public/admin/js/bootstrap.min.js"></script>

      {% block headjs %}


      {% endblock %}


    </head>

    <body>
      <div id="wrapper">



        {% block Navigation %}

        {% endblock %}

        {% block body %}

        {% endblock %}


      </div>
      <!-- /#wrapper -->
      {% block footer %}

      {% endblock %}

      <!-- Metis Menu Plugin JavaScript -->
      <script src="/public/admin/js/metisMenu.min.js"></script>
      <!-- Custom Theme JavaScript -->
      <script src="/public/admin/js/sb-admin-2.js"></script>

    </body>

  </html>
