              <thead>
                                <tr >
                                    <th class="text-center">
                                        Name
                                    </th>
                                    <th class="text-center">
                                        Name
                                    </th>
                                    <th class="text-center">
                                        Email
                                    </th>
                                    <th class="text-center">
                                        Notes
                                    </th>
                                    <th class="text-center">
                                        Notes
                                    </th>
                                    <th class="text-center">
                                        Option
                                    </th>

                                    <th class="text-center" style="border-top: 1px solid #ffffff; border-right: 1px solid #ffffff;">
                                    </th>
                                </tr>
                            </thead>

    <tbody id="content-child">
                                <tr   class="inputs-child">
                                    <td >
                                        <input type="text" name="name"  placeholder="Name" class="form-control input-sm"/>
                                    </td>
                                    <td >
                                        <input type="numbre" name="name0"  placeholder="Name" class="form-control input-sm"/>
                                    </td>
                                    <td >
                                        <input type="date" name="name0"  placeholder="Name" class="form-control input-sm"/>
                                    </td>
                                    <td >
                               <input type="file" name="hu"   class="inputfile"  multiple />
                               </td>
                                    <td >
                                        <textarea name="desc0" placeholder="Description" class="form-control input-sm"  style="resize:vertical;"></textarea>
                                    </td>
                                    <td >
                                        <select name="sel0" class=" form-control input-sm " data-container=".table-responsive">
                                            <option value="">Select Option</option>
                                            <option value="1">Option 1</option>
                                            <option value="2">Option 2</option>
                                            <option value="3">Option 3</option>
                                        </select>
                                    </td>

                                    <td >
                                        <button class="delete btn btn-xs glyphicon glyphicon-trash row-remove" style="font-size: 16px ;    background-color: #f1a1c2;"> </button>
                                    </td>
                                    
                                    
                                </tr>
                            </tbody>