{% extends "themes.twig" %}
{% use "@traitement/plugins/progress.twig" %}


{% block headcss %}
    <link href="/public/comptable/traitement/select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block container %}

    <style>



        @media (min-width: 1200px){
            .row {
                margin-right: -26px;
                margin-left: -42px;
            }
            .col-lg-12  {     padding-right: 0px; }
            .col-lg-4 {
                width: 28%;
            }
            .col-lg-8 {
                width: 72%;
            }
        }


    </style>
    <div class="row" style="margin: 0px">


        <div class="col-lg-8"  style="margin: 0px; padding: 0px;">
            <div class="panel panel-default box shadow-4dp" style="    padding: 0px;">
                <div class="panel-heading">
                    <i class=" glyphicon glyphicon-usd"></i>Les  Details - Les  Échéances 
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default  " id="btnpanelperentstatistiqe">
                                <span class="glyphicon glyphicon-floppy-saved" style="    color: #337ab7;"></span>
                            </button>

                        </div>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="row clearfix" style="margin:5px">
                    <div class="col-md-12 table-responsive"  style="font-size: 11px;     overflow-x: visible;">
                        <table class="table table-bordered table-hover table-sortable" id="tab_logic">
                            <thead>
                                <tr >
                                    <th class="text-center">
                                        Name
                                    </th>
                                    <th class="text-center">
                                        Name
                                    </th>
                                    <th class="text-center">
                                        Email
                                    </th>
                                    <th class="text-center">
                                        Notes
                                    </th>
                                    <th class="text-center">
                                        Notes
                                    </th>
                                    <th class="text-center">
                                        Option
                                    </th>

                                    <th class="text-center" style="border-top: 1px solid #ffffff; border-right: 1px solid #ffffff;">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="addr0" data-id="0" >
                                    <td data-name="name">
                                        <input type="text" name="name0"  placeholder="Name" class="form-control input-sm"/>
                                    </td>
                                    <td data-name="name">
                                        <input type="numbre" name="name0"  placeholder="Name" class="form-control input-sm"/>
                                    </td>
                                    <td data-name="name">
                                        <input type="date" name="name0"  placeholder="Name" class="form-control input-sm"/>
                                    </td>
                                    <td data-name="mail">
                                        <div name="namfe0">
                                            <input type="file" name="file   " id="file" class="inputfile"  multiple />
                                            <label for="file"  ><span class="glyphicon glyphicon-paperclip btn btn-xs " style="font-size: 16px ;    background-color: #dcecfb;" ></span></label>
                                        </div>   
                                    </td>
                                    <td data-name="desc">
                                        <textarea name="desc0" placeholder="Description" class="form-control input-sm"  style="resize:vertical;"></textarea>
                                    </td>
                                    <td data-name="sel">
                                        <select name="sel0" class=" form-control input-sm " data-container=".table-responsive">
                                            <option value="">Select Option</option>
                                            <option value="1">Option 1</option>
                                            <option value="2">Option 2</option>
                                            <option value="3">Option 3</option>
                                        </select>
                                    </td>

                                    <td data-name="del">
                                        <button name="del0" class="btn btn-xs glyphicon glyphicon-trash row-remove" style="font-size: 16px ;    background-color: #f1a1c2;">

                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <a id="add_row" class="btn btn-default pull-right">Add Row</a>

                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->

        </div>
        <!-- /.col-lg-8 -->

        <div class="col-lg-4" style="padding-right:0px" id="panelperentstatistiqe">
            <div class="panel panel-default box shadow-4dp" style="    padding: 0px ">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Notifications Panel

                </div>

                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                        <input class="form-control" id="id_html_id" type="hidden" value="470" name="parent_id"><a href="#" class="list-group-item">
                            <i class="glyphicon glyphicon-paste"></i>      id
                            <span class="pull-right text-muted "><em><b><mark class=" ">   470</mark></b></em>
                            </span>
                        </a> <input class="form-control" id="id_html_id" type="hidden" value="2018-05-23" name="parent_date_negociation">           <a href="#" class="list-group-item">
                            <i class="glyphicon glyphicon-paste"></i>      date negociation
                            <span class="pull-right text-muted "><em><b><mark class=" ">   2018-05-23</mark></b></em>
                            </span>
                        </a> <input class="form-control" id="id_html_id" type="hidden" value="1113" name="parent_montant_factures_TTC">           <a href="#" class="list-group-item">
                            <i class="glyphicon glyphicon-paste"></i>      montant factures TTC
                            <span class="pull-right text-muted "><em><b><mark class=" ">   1113</mark></b></em>
                            </span>
                        </a> <input class="form-control" id="id_html_id" type="hidden" value="333" name="parent_montant_avoirs_TTC">           <a href="#" class="list-group-item">
                            <i class="glyphicon glyphicon-paste"></i>      montant avoirs TTC
                            <span class="pull-right text-muted "><em><b><mark class=" ">   333</mark></b></em>
                            </span>
                        </a> <input class="form-control" id="id_html_id" type="hidden" value="780" name="parent_Reglement_TTC">           <a href="#" class="list-group-item">
                            <i class="glyphicon glyphicon-paste"></i>      Reglement TTC
                            <span class="pull-right text-muted "><em><b><mark class=" ">   780</mark></b></em>
                            </span>
                        </a> <input class="form-control" id="id_html_id" type="hidden" value="24" name="parent_raison$sociale">           <a href="#" class="list-group-item">
                            <i class="glyphicon glyphicon-paste"></i>      raison sociale
                            <span class="pull-right text-muted "><em><b><mark class=" ">   24</mark></b></em>
                            </span>
                        </a>
                        <canvas id="myChart" style="display: block; width: 254px; height: 127px;" width="254" height="127" class="chartjs-render-monitor"></canvas>
                    </div>
                    <!-- /.list-group -->
                    <button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#myModal">
                        View All Alerts
                    </button>

                </div>
                <!-- /.panel-body -->

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                            </div>
                            <div class="modal-body">
                                <canvas id="myChart2"></canvas>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>






    </div>

{% endblock %}


{% block footer %}
    <script src="/public/comptable/traitement/select/js/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="/public/statistitique/global/js/Chart.min.js" type="text/javascript"></script>
    <script>
        $("#btnpanelperentstatistiqe").click(function() {
            $("#panelperentstatistiqe").hide("500");
        });
    </script>
    <script>
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ["Red", "Blue", "Yellow"],
                datasets: [{
                        label: '# of Votes',
                        data: [12, 19, 3],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
            },
        });
    </script>
    <script>
        var ctx = document.getElementById("myChart2").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                datasets: [{
                        label: '# of Votes',
                        data: [12, 19, 3, 5, 2, 3],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
            },
        });
    </script>
    <script>
        $(document).ready(function() {
            $("#add_row").on("click", function() {
                // Dynamic Rows Code

                // Get max row id and set new id
                var newid = 0;
                $.each($("#tab_logic tr"), function() {
                    if (parseInt($(this).data("id")) > newid) {
                        newid = parseInt($(this).data("id"));
                    }
                });
                newid++;
                var tr = $("<tr></tr>", {
                    id: "addr" + newid,
                    "data-id": newid
                });
                // loop through each td and create new elements with name of newid
                $.each($("#tab_logic tbody tr:nth(0) td"), function() {
                    var cur_td = $(this);
                    var children = cur_td.children();
                    // add new td and element if it has a name
                    if ($(this).data("name") != undefined) {
                        var td = $("<td></td>", {
                            "data-name": $(cur_td).data("name")
                        });
                        var c = $(cur_td).find($(children[0]).prop('tagName')).clone().val("");
                        c.attr("name", $(cur_td).data("name") + newid);
                        c.appendTo($(td));
                        td.appendTo($(tr));
                    } else {
                        var td = $("<td></td>", {
                            'text': $('#tab_logic tr').length
                        }).appendTo($(tr));
                    }
                });
                // add delete button and td
                /*
                 $("<td></td>").append(
                 $("<button class='btn btn-danger glyphicon glyphicon-remove row-remove'></button>")
                 .click(function() {
                 $(this).closest("tr").remove();
                 })
                 ).appendTo($(tr));
                 */

                // add the new row
                $(tr).appendTo($('#tab_logic'));
                $(tr).find("td button.row-remove").on("click", function() {
                    $(this).closest("tr").remove();
                });
            });
            // Sortable Code
            var fixHelperModified = function(e, tr) {
                var $originals = tr.children();
                var $helper = tr.clone();
                $helper.children().each(function(index) {
                    $(this).width($originals.eq(index).width())
                });
                return $helper;
            };
            $(".table-sortable tbody").sortable({
                helper: fixHelperModified
            }).disableSelection();
            $(".table-sortable thead").disableSelection();
            $("#add_row").trigger("click");
        });





        var inputs = document.querySelectorAll('.inputfile');
        $(inputs).appendTo();
        $(inputs).css({
            "width": "0.1px",
            "height": "0.1px",
            "opacity": "0",
            "overflow": "hidden",
            "position": "absolute",
            " z-index": "-1"
        })

        Array.prototype.forEach.call(inputs, function(input)
        {
            var label = input.nextElementSibling;
            input.addEventListener('change', function(e)
            {
                label.querySelector('span').innerHTML = this.files.length;
            }
            );
        });

    </script>
{% endblock %}