{% extends "themes.twig" %}
{% use "@traitement/plugins/progress.twig" %}


{% block headcss %}

{% endblock %}


{% block container %}

    <style>
        .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
            padding: 0px;
        }
        textArea{
            resize:vertical;
        }
        @media (min-width: 1200px){
            .row {
                margin-right: -26px;
                margin-left: -42px;
            }
            .col-lg-12  {     padding-right: 0px; }
            .col-lg-4 {
                width: 28%;
            }
            .col-lg-8 {
                width: 72%;
            }
        }


    </style>



    <div class="row" style="margin: 0px">

<form action="child_add"  method='POST'  enctype="multipart/form-data" >
        <div class="col-lg-8"  style="margin: 0px; padding: 0px;">
            <div class="panel panel-default box shadow-4dp" style="    padding: 0px;">
                <div class="panel-heading">
                    <i class=" glyphicon glyphicon-usd"></i>Les  Details - Les  Échéances 
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default  " id="btnpanelperentstatistiqe">
                                <span class="glyphicon glyphicon-floppy-saved" style="    color: #337ab7;"></span>
                            </button>

                        </div>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="row clearfix" style="margin:5px">
                    <div class="col-md-12 table-responsive"  style="font-size: 11px;     overflow-x: visible;">
                        <table class="table  table-hover table-sortable table-sm " >
                            {{form_child(intent)}}
                               </table>
                    </div>
                </div>
                <a id="add_row" class="btn btn-default pull-right">Add Row</a>

                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->

        </div>
        <!-- /.col-lg-8 -->

        <div class="col-lg-4" style="padding-right:0px" id="panelperentstatistiqe">
            <div class="panel panel-default box shadow-4dp" style="    padding: 0px ">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Notifications Panel

                </div>

                <!-- /.panel-heading -->
                <div class="panel-body">
                    {{View_Data_Parent(intent)}}   
                    <canvas id="myChart" ></canvas>
                </div>
                <!-- /.list-group -->
                <button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#myModal">
                    View All Alerts
                </button>

            </div>
            <!-- /.panel-body -->

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            <canvas id="myChart2"></canvas>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
      <input type="submit" value="ok" name="ok" >
    </form>

    </div>



{% endblock %}


{% block footer %}

  
    <script src="/public/Framework/ChartGraphique/Chart.min.js" type="text/javascript"></script>
    <script>
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ["Red", "Blue", "Yellow"],
                datasets: [{
                        label: '# of Votes',
                        data: [12, 19, 3],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
            },
        });
    </script>
    <script>
        var ctx = document.getElementById("myChart2").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                datasets: [{
                        label: '# of Votes',
                        data: [12, 19, 3, 5, 2, 3],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
            },
        });
    </script>
    <script src="/public/AWA/childe_add_row.js" type="text/javascript"></script>
    <script src="/public/AWA/stylefile.js" type="text/javascript"></script>

{% endblock %}