{% extends "themes.twig" %}
{% use "@traitement/plugins/progress.twig" %}


{% block headcss %}
    <!-- Bootstrap-select Custom CSS -->
    <link href="/public/transactions/traitement/ajouter/css/bootstrap-select.min.css" rel="stylesheet" type="text/css"/>
    <!-- multi-select Custom CSS -->
    <link href="/public/transactions/traitement/ajouter/css/multi-select.dev.css" rel="stylesheet" type="text/css"/>

{% endblock %}


{% block container %}
    <div id="status">
      <div class="row" style="margin: 5px">
        <div id="wform" >
          <form  action="#"  method='POST'  enctype="multipart/form-data" class="form-horizontal">
            <div id="formphp">
              {{form(intent)}}   

              <div class="col-sm-12"> 
                <!-- par methode ajax 
                <label for="ajoutdata"> AJOUTER </label> 
                <input type="button" value="ajouter"  class="btn btn-primary btn-lg" id="setdataparAjax">
-->
                <label for="reset"> VIDE </label>    
                <input type="reset" name="reset"  class="btn btn-success btn-lg">
                <!-- si methode simple form submit -->
                <input type="submit"  value="Majouter"  class="btn btn-success btn-lg"> 
              </div>
            </div>
            {{ block('progress') }}
          </form>
        </div>      
      </div>
    </div>

{% endblock %}


{% block footer %}
    <script src="/public/transactions/traitement/ajouter/code.js" type="text/javascript"></script>
    <!-- Custom multi select -->
    <script src="/public/transactions/traitement/ajouter/js/jquery.quicksearch.js" type="text/javascript"></script>
    <script src="/public/transactions/traitement/ajouter/js/jquery.multi-select.js" type="text/javascript"></script>
    <script src="/public/transactions/traitement/ajouter/js/app.elementHTML.js" type="text/javascript"></script>
    <script src="/public/transactions/traitement/ajouter/js/app.multi-select.js" type="text/javascript"></script>
     <script src="/public/transactions/traitement/select/js/bootstrap-select.min.js" type="text/javascript"></script>
     <script src="/public/transactions/traitement/calculeTTC.js" type="text/javascript"></script>
     <script src="/public/statistitique/global/js/moment.js" type="text/javascript"></script>
     <script>
      
         $("#id_html_date_negociation").val(moment().format('YYYY-MM-DD'));
         
     </script>
{% endblock %}