{% extends "themes.twig" %}

{% block headcss %}
    <!-- Bootstrap-select Custom CSS -->
    <link href="/public/transactions/traitement/select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css"/>

{% endblock %}









{% block container %}
<div class="row">

      <div class="col-md-7 cadre " style="margin-left: 5px">

        <form  action=""  method='GET'  enctype="multipart/form-data" class="form-horizontal">

          <div class="row"> 
            <h1>select option</h1>
            <br>
         {{form_select(intent)}}  

          </div>
          <div class="row"> 

            <label for="ok">  </label>          
            <input type="submit" name="ajouter" class="btn btn-primary center-block" value="Valider">
          </div>
        </form>
      </div> 

      <div class="col-md-4 center-block" >

        <div id="affiche" class=" alert alert-info">

        </div>
      </div>     


    </div>


{% endblock %}

{% block footer %}
     <!-- bootstrap-select Core JavaScript -->
    <script src="/public/transactions/traitement/select/js/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="/public/transactions/traitement/select/code.js" type="text/javascript"></script>

{% endblock %}