{% extends "@TransactionsTraitement/ajoutecode.twig" %}


{% block formMain %}

    <div class="panel-body" style="font-size: 11px;     overflow-x: visible;">
        {{form(intent)}}   
    </div>
{% endblock %}


{% block formMainRelation %}
    <table class="table  table-hover table-sortable table-sm " >
        {{form_child(intentchild)}}
    </table>
{% endblock %}


