{% block showmode %}
    <a href="" id="showMode" style="display: none" class="pull-right">

        <i class="glyphicon glyphicon-th-list " style="font-size:35px ; color:#3665B0">

        </i></a> 

    <div class="box shadow-4dp  "  id="boxSelectMode"  style="width: max-content">
        <button type="button" class="close" aria-label="Close" >
            <span aria-hidden="true" class=" pull-right" id="hideMode">&times;</span></button>
        <form action="" method="GET" class="">

            <div class="checkbox">
                export    :
                <label>
                    <input type="checkbox" name="copier" value="ok"> copier
                </label>
                <label>
                    <input type="checkbox" name="pdf" value="ok"> pdf
                </label>
                <label>
                    <input type="checkbox" name="excel" value="ok">  excel
                </label>
                <label>
                    <input type="checkbox" name="impression" value="ok">  impression
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="control" value="ok"> controle donnee(modifier supprimer)
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="fichiers" value="ok"> voir les fichiers
                </label>
            </div>

            <select class="selectpicker show-tick" data-style="btn-success"  data-width="115px" name="pere">
                <option data-subtext="De père" selected value="resume">voir résumé des information</option>
                <option data-subtext="De père" value="defaut">voir defaut des information</option>
                <option data-subtext="De père" value="tous">voir tous les information</option>
            </select>
            <select class="selectpicker show-tick" data-style="btn-info"  data-width="115px" name="fils">
                <option data-subtext="Des Fils" selected value="rien">voir rien</option>
                <option data-subtext="Des Fils" value="resume">voir résumé des information</option>
                <option data-subtext="Des Fils" value="defaut">voir defaut des information</option>
                <option data-subtext="Des Fils" value="tous">voir tous les information</option>
            </select>
            <button type="submit"  class="btn-primary btn"> <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span></button>
        </form>

    </div>



{% endblock %}