{% block showmode %}
    <a href="" id="showMode" class="pull-right">

        <i class="glyphicon glyphicon-th-list btn btn-primary" style="margin-bottom: 10px;margin-right: 10px"></i></a> 

    <div class="box shadow-4dp  "  id="boxSelectMode"   style="
         width: max-content;
         position: fixed;
         z-index: 4;
         background-color: white;
         display: none; 
         right: 6%;">
        <button type="button" class="close pull-right" aria-label="Close" id="hideMode" style="display: block; width: 20px;margin-left: 93%;" >
            <span aria-hidden="true" class=" " >&times;</span></button>
        <form action="" method="GET" class="">

            <div class="btn-group" data-toggle="buttons">

                <label class="not_focus btn btn-primary {% if js.copier == true %} active {% endif %} " >
                    <input type="checkbox" name="copier" {% if js.copier == true %} checked {% endif %}  autocomplete="off"  value="on"> <i class="fa fa-files-o"></i>'
                </label>
                <label class="not_focus btn btn-primary {% if js.pdf == true %} active {% endif %} ">
                    <input type="checkbox" name="pdf" {% if js.pdf == true %} checked {% endif %}  autocomplete="off" value="on"> <i class="fa fa-file-pdf-o"></i>
                </label>
                <label class="not_focus btn btn-primary {% if js.excel == true %} active {% endif %}">
                    <input type="checkbox" name="excel"  {% if js.excel == true %} checked {% endif %} autocomplete="off" value="on">  <i class="fa fa-file-excel-o"></i>
                </label>
                <label class="not_focus btn btn-primary {% if js.print == true %} active {% endif %}">
                    <input type="checkbox" name="impression" {% if js.print == true %} checked {% endif %}  autocomplete="off" value="on">  <i class="glyphicon glyphicon-print"></i>
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="control" value="ok"> controle donnee(modifier supprimer)
                </label>
            </div>


            <select class="selectpicker show-tick" data-style="btn-success"  data-width="115px" name="pere">
                <option data-subtext="De père" selected value="resume">voir résumé des information</option>
                <option data-subtext="De père" value="defaut">voir defaut des information</option>
                <option data-subtext="De père" value="tous">voir tous les information</option>
            </select>
            <select class="selectpicker show-tick" data-style="btn-info"  data-width="115px" name="fils">
                <option data-subtext="Des Fils" selected value="rien">voir rien</option>
                <option data-subtext="Des Fils" value="resume">voir résumé des information</option>
                <option data-subtext="Des Fils" value="defaut">voir defaut des information</option>
                <option data-subtext="Des Fils" value="tous">voir tous les information</option>
            </select>
            <button type="submit"  class="btn-primary btn"> <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span></button>
        </form>

    </div>



{% endblock %}