


<div class="box shadow-24dp center-block" style="width: 97%" >
  <header>
    <h4>Shadow</h4>
    
  </header>
  <div class="box-body">
    <h4>Available Shadow Class</h4>
    <div class="flex flex-row flex-wrap">
      {{Form_view(intent)}}   
    </div>
  </div>
</div>