{% extends "themes.twig" %}

{% block headcss %}
    <link href="/public/admin/css/daterangepicker.min.css" rel="stylesheet" type="text/css"/>
    <!-- Bootstrap-select Custom CSS -->
    <link href="/public/admin/selectbootstrap/css/bootstrap-select.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}





{% block headjs %}
    <!-- bootstrap-select Core JavaScript -->
    <script src="/public/admin/selectbootstrap/js/bootstrap-select.min.js"></script>
    <script src="/public/admin/js/Chart.min.js" ></script>
    <script src="/public/admin/js/moment.js" ></script>
    <script src="/public/admin/js/jquery.daterangepicker.js" ></script>

{% endblock %}



{% block container %}

    <pre>
        Dettes => factures achats no regles
        Créances=>Droit du créancier d’exiger le paiement d’une somme d’argent.

        Dépenses => il doit payer ses disques et ses billets d’autobus مصروف
        Recettes=>Ensemble des sommes perçues par une entreprise pour une période donnée.المبالغ المستلمة
      


       TVA 
       Chiffre d'affaires




       Devis à relancer
       bons de reception

      





    </pre>


    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-comments fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">26</div>
                <div>CA HT</div>
              </div>
            </div>
          </div>
          <a href="#">
            <div class="panel-footer">
              <span class="pull-left">View Details</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>



      <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-tasks fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">12</div>
                <div>New Tasks!</div>
              </div>
            </div>
          </div>
          <a href="#">
            <div class="panel-footer">
              <span class="pull-left">View Details</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>



      <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-shopping-cart fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">124</div>
                <div>New Orders!</div>
              </div>
            </div>
          </div>
          <a href="#">
            <div class="panel-footer">
              <span class="pull-left">View Details</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>



      <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-support fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">13</div>
                <div>Support Tickets!</div>
              </div>
            </div>
          </div>
          <a href="#">
            <div class="panel-footer">
              <span class="pull-left">View Details</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
    </div>








    <div class="cadre">
      <form class="form-inline" method="POST">

        <div class="row ">
          <div class="col-md-3">
            <div class="form-group">
              <label for="InputSelectDate"> Selection d'intervalle <span class="glyphicon glyphicon-calendar" aria-hidden="true" ></span></label>
              <select class="selectpicker form-control" id="InputSelectDate" size="12" >
                <option value="0" id="InputOptionDate_show_per" data-dateselectstart=""  data-dateselectfin=""  >Personnalisé</option>
                <option value="1" id="InputOptionDate_Ce_mois_ci" data-dateselectstart=""  data-dateselectfin=""   >Ce mois ci</option>
                <option value="2" id="InputOptionDate_mois_dernier" data-dateselectstart=""  data-dateselectfin=""  >Depuis le mois dernier</option>
                <option value="3" id="InputOptionDate_3_derniers_mois" data-dateselectstart=""  data-dateselectfin="" >Les 3 derniers mois</option>
                <option value="4" id="InputOptionDate_6_derniers_mois" data-dateselectstart=""  data-dateselectfin="" >Les 6 derniers mois</option>
                <option value="5" id="InputOptionDate_cette_annee" data-dateselectstart=""  data-dateselectfin="" >Cette année</option>
                <option value="6" id="InputOptionDate_l_annee_derniere" data-dateselectstart=""  data-dateselectfin="" >L'année dernière</option>

              </select>
              <p class="help-block">Example block-level help text here.</p>
            </div>
          </div>
          <div class="col-md-9">

            <div class="form-group">

              <label for="groupInputDateStartFin"> L'intervalle de date  <span class="glyphicon glyphicon-calendar" aria-hidden="true" ></span></label><br>
              <span  id="groupInputDateStartFin">

                <input  class="form-control form-string" id="startinputDate" size="20" value="" name="startinputDate" placeholder="date debit">
                <span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span>
                <input class="form-control form-string" id="fininputDate" size="20" value="" name="fininputDate" placeholder="date fin">
              </span>

            </div>


          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-12">

            <div class="form-group">
              <label for="Rapports">Selection Rapports</label>
              <select class="selectpicker form-control form-childs" multiple data-selected-text-format="count > 7" id="Rapports" name="Rapports[]">
                {% for op in charge %}
                    <option value="{{ op }}" >{{ op|replace({'$': " ", '%$%': " "}) }}</option>
                {% endfor %}


              </select>
              <p class="help-block">Example block-level help text here.</p>



            </div>
          </div>
        </div> 

        <input type="button" value="ajouter" name="ajoutdata" class="btn btn-primary btn-lg" onclick="uploadFile()">
        <button type="submit" class="btn btn-default">Submit</button>
      </form> 



    </div>










    <div class="row">
      <div class="col-xs-12 col-md-12"><canvas id="myChart1"></canvas></div>
    </div>

{% endblock %}

{% block footer %}

    <script>



        function uploadFile() {
          /*
           * code base class formHTML php
           * voir class formHTML
           */
          // new form ajax
          var formdata = new FormData();

          // select input  form html type string =>>> darori class form-control-file
          var formdatahtml = document.getElementsByClassName("form-string");
          // add data string to from ajax (name value)
          for (var i = 0; i < formdatahtml.length; i++) {

            formdata.append(formdatahtml[i].name, formdatahtml[i].value);
          }
          // select input  form html type string childs =>>> darori class form-childs
          var formdatahtmlchilds = document.getElementsByClassName("form-childs");
          // add data string to from ajax (childs value,value,value,value)
          for (var i = 0; i < formdatahtmlchilds.length; i++) {


            var formdatahtmlchild = (formdatahtmlchilds[i]);
            var name = formdatahtmlchild.name;

            for (i = 0; i < formdatahtmlchild.length; i++) {
              //examine current option
              var currentOption = formdatahtmlchild[i];
              //print it if it has been selected
              if (currentOption.selected == true) {
                formdata.append(name, currentOption.value);

              }

            }

          }



          //send formdata par ajax
          var ajax = new XMLHttpRequest();

          ajax.onreadystatechange = function (event) {
            // XMLHttpRequest.DONE === 4
            if (this.readyState === XMLHttpRequest.DONE) {
              if (this.status === 200) {
                console.log(this.responseText);
              } else {
                console.log("Status de la réponse: %d (%s)", this.status, this.statusText);
              }
            }
          };

          ajax.open("POST", "/ajax/statistique");

          ajax.send(formdata);



        }




    </script>









    <script>
        // block option date

        /// pour set date in option select dans InputSelectDate
        var personnalise = $("#InputOptionDate_show_per");
        var CeMois = $("#InputOptionDate_Ce_mois_ci");
        var moisDernier = $("#InputOptionDate_mois_dernier");
        var derniers3Mois = $("#InputOptionDate_3_derniers_mois");
        var derniers6Mois = $("#InputOptionDate_6_derniers_mois");
        var cetteAnnee = $("#InputOptionDate_cette_annee");
        var anneeDerniere = $("#InputOptionDate_l_annee_derniere");


        var $date = moment();
        var $anne = $date.get("year");
        var $mois = $date.get('month');
        ;

        personnalise.data("dateselectstart", "");
        personnalise.data("dateselectfin", "");

        CeMois.data("dateselectstart", $date.format("01/MM/YYYY"));
        CeMois.data("dateselectfin", moment([$anne, 0, 31]).month($mois).format("DD/MM/YYYY"));

        moisDernier.data("dateselectstart", moment().subtract(1, 'month').format("01/MM/YYYY"));
        moisDernier.data("dateselectfin", $date.format("DD/MM/YYYY"));


        var der3m = moment().subtract(3, 'month').format("01/MM/YYYY");
        derniers3Mois.data("dateselectstart", der3m);
        derniers3Mois.data("dateselectfin", moment(der3m, "DD/MM/YYYY").add(3, 'month').subtract(1, 'days').format("DD/MM/YYYY"));


        var der6m = moment().subtract(6, 'month').format("01/MM/YYYY");
        derniers6Mois.data("dateselectstart", der6m);
        derniers6Mois.data("dateselectfin", moment(der6m, "DD/MM/YYYY").add(6, 'month').subtract(1, 'days').format("DD/MM/YYYY"));

        cetteAnnee.data("dateselectstart", moment().format("01/01/YYYY"));
        cetteAnnee.data("dateselectfin", moment().format("31/12/YYYY"));

        anneeDerniere.data("dateselectstart", moment().subtract(1, 'year').format("01/01/YYYY"));
        anneeDerniere.data("dateselectfin", moment().subtract(1, 'year').format("31/12/YYYY"));




        /// pour charge inpute startinputDate et fininputDate par select input
        var InputSelectDate = document.getElementById("InputSelectDate");

        var groupInputDateStartFin = document.getElementById("groupInputDateStartFin");
        var startinput = document.getElementById("startinputDate");
        var fininput = document.getElementById("fininputDate");



        /// pour dateRange ===>Personnalis

        $(groupInputDateStartFin).dateRangePicker(
                {
                  separator: ' - ',
                  getValue: function ()
                  {
                    if ($(startinput).val() && $(fininput).val())
                      return $(startinput).val() + ' to ' + $(fininput).val();
                    else
                      return '';
                  },
                  setValue: function (s, s1, s2)
                  {
                    $(startinput).val(s1);
                    $(fininput).val(s2);
                  }
                  ,

                  language: 'fr',
                  startOfWeek: 'monday',

                  format: 'DD/MM/YYYY ',
                  autoClose: false

                }
        );



        $(InputSelectDate)
                .change(function () {
                  var start = "";
                  var fin = "";


                  $("#InputSelectDate option:selected").each(function () {

                    start = $(this).data("dateselectstart");
                    fin = $(this).data("dateselectfin");

                  });


                  $(startinput).val(start);
                  $(fininput).val(fin);

                })
                .trigger("change");



    </script>
    <script>


        $.getJSON("/ajax/st", function (datajson) {

          var DJ = datajson[0];
          var lbj = [];
          var dataDJ = [];
          for (var k in DJ) {

            lbj.push(k);
            dataDJ.push(DJ[k]);
            console.log(k, DJ[k]);
          }




          var ctx1 = document.getElementById('myChart1').getContext('2d');

          var chart1 = new Chart(ctx1, {
            // The type of chart we want to create
            type: 'bar',

            // The data for our dataset
            data: {
              labels: lbj,

              datasets: [{
                  label: "raison socialer",
                  backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1,
                  data: dataDJ,
                }
              ]
            },

            // Configuration options go here
            options: {
              scales: {
                yAxes: [{
                    ticks: {
                      beginAtZero: true
                    }
                  }]
              }
            }
          });



        });



    </script>




{% endblock %}