{% extends "themes.twig" %}

{% block container %}



    <div class="container1">

      <button class="add_form_field">Add New Field 
        <span style="font-size:16px; font-weight:bold;">+ </span>
      </button>




    </div>
    <form method="get" action="#">
      <div class="input-add"> 
        <div>
          <input type="text" name="mytext[]">
          <select name="myselect[]">

            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>

          </select>
        </div>


      </div>

      <input type="submit" value="ok" name="ok" >
    </form>





    <script>

        $(document).ready(function () {
          var max_fields = 10;
          var wrapper = $(".input-add");
          var add_button = $(".add_form_field");

          var x = 1;
          $(add_button).click(function (e) {
            e.preventDefault();
            if (x < max_fields) {
              x++;
              $(wrapper).append('<div>\n\
             <input type="text" name="mytext[]"/>\n\
             <select name="myselect[]"> <option value="volvo">Volvo</option> <option value="saab">Saab</option <option value="mercedes">Mercedes</option> </select>\n\
             <a href="#" class="delete">Delete</a>\n\
             </div>'); //add input box
            } else
            {
              alert('You Reached the limits');
            }
          });

          $(wrapper).on("click", ".delete", function (e) {
            e.preventDefault();
            $(this).parent('div').remove();
            x--;
          });
        });

    </script>
{% endblock %}

