{% extends "themes.twig" %}



{% block container %}


 

    <div class ="cadre">
      <h1>{{title}}  </h1>
      <div class="row">
        
       
          {{data |raw}}   
    
        
      </div>


    </div>   
{% endblock %} 
