{% extends "themes.twig" %}


{% block headcss %}
    <script src="/public/admin/js/moment.js" ></script>
    <link href="/public/admin/DatatableRapide/datatables.min.css" rel="stylesheet" type="text/css"/>

{% endblock %}
{% block headjs %}

{% endblock %}

{% block container %}
    <a href="{{_URLaction._ajouter}}" class="btn btn-default">ajouter</a>
    <a href="?s=dm" class="btn btn-default">DEFAULT_MASTER</a>
    <a href="?s=da" class="btn btn-default">DEFAULT_ALL </a>
    <a href="?s=dd" class="btn btn-default">DEFAULT_DEFAULT </a>

    <a href="?s=mm" class="btn btn-default">MASTER_MASTER</a>
    <a href="?s=ma" class="btn btn-default">MASTER_ALL </a>
    <a href="?s=mn" class="btn btn-default">MASTER_NULL</a>

    <a href="?s=am" class="btn btn-default">ALL_MASTER</a>
    <a href="?s=aa" class="btn btn-default">ALL_ALL</a>
    <a href="?s=an" class="btn btn-default">ALL_NULL</a>

    <div class ="cadre">

      <div class="row">
        <table id="tableshowajax"  style="width:100%" class="table table-striped table-bordered dt-responsive nowrap"></table>
      </div>
    </div>
{% endblock %}


{% block footer %}
    <!-- Custom datatables -->

    <!-- Custom datatables -->

    <script src="/public/admin/DatatableRapide/datatables.min.js" type="text/javascript"></script>

    <script>

    </script>
    <!-- end dataTables -->   

    <script>

        var datajson ={{table_json_intent(intent)}} ;
                $('#tableshowajax').DataTable({
          data: datajson["dataSet"],
          columns: datajson["titles"],
          lengthChange: true,

          language: {
            processing: "Traitement en cours...",
            search: "Rechercher&nbsp;:",
            lengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments",
            info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
            infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
            infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
            infoPostFix: "",
            loadingRecords: "Chargement en cours...",
            zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
            emptyTable: "Aucune donnée disponible dans le tableau",
            paginate: {
              first: "Premier",
              previous: "Pr&eacute;c&eacute;dent",
              next: "Suivant",
              last: "Dernier"
            },
            aria: {
              sortAscending: ": activer pour trier la colonne par ordre croissant",
              sortDescending: ": activer pour trier la colonne par ordre décroissant"
            }
            , buttons: {
              colvis: "select les champs"
            }
          }
        });





    </script>
    <!-- end dataTables -->   
{% endblock %}
