    <div class="box shadow-24dp">
                    <header>
                      <h4>Shadow</h4>
                      <div class="box-tools">
                        <span class="badge">badge</span>
                      </div>
                    </header>
                    <div class="box-body">
                      <h4>Available Shadow Class</h4>
                      <div class="flex flex-row flex-wrap">
                        <div class="m-a-10 p-a-15 shadow-2dp">
                          <code>shadow-2dp</code>
                        </div>
                        <div class="m-a-10 p-a-15 shadow-3dp">
                          <code>shadow-3dp</code>
                        </div>
                        <div class="m-a-10 p-a-15 shadow-4dp">
                          <code>shadow-4dp</code>
                        </div>
                        <div class="m-a-10 p-a-15 shadow-6dp">
                          <code>shadow-6dp</code>
                        </div>
                        <div class="m-a-10 p-a-15 shadow-8dp">
                          <code>shadow-8dp</code>
                        </div>
                        <div class="m-a-10 p-a-15 shadow-16dp">
                          <code>shadow-16dp</code>
                        </div>
                        <div class="m-a-10 p-a-15 shadow-24dp">
                          <code>shadow-24dp</code>
                        </div>
                      </div>
                    </div>
                  </div>