{% block showmode %}




    <div class=" clearfix btn-group"role="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        mode
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
        <li><a href="?s=dm" >DEFAULT_MASTER</a></li>
        <li><a href="?s=da" >DEFAULT_ALL </a></li>
        <li><a href="?s=dd" >DEFAULT_DEFAULT </a></li>
        <li role="separator" class="divider"></li>
        <li><a href="?s=mm" >MASTER_MASTER</a></li>
        <li><a href="?s=ma" >MASTER_ALL </a></li>
        <li><a href="?s=mn" >MASTER_NULL</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="?s=am" >ALL_MASTER</a></li>
        <li><a href="?s=aa" >ALL_ALL</a></li>
        <li><a href="?s=an" >ALL_NULL</a></li>
      </ul>
    </div>
{% endblock %}