{% extends "themes.twig" %}
{% use "@traitement/plugins/progress.twig" %}


{% block headcss %}

    <!-- Bootstrap-select Custom CSS -->
    <link href="/public/Framework/BootstrapSelect/bootstrap-select.min.css" rel="stylesheet" type="text/css"/>
   <!-- multi-select Custom CSS -->
   <link href="/public/Framework/BootstrapMultiSelect/css/multi-select.dev.css" rel="stylesheet" type="text/css"/>
        <link href="/public/Framework/JqueryConfirm/jquery-confirm.min.css" rel="stylesheet" type="text/css"/>

{% endblock %}


{% block container %}
    <div id="status">

        <div class="row" style="margin: 5px">
            <div id="wform" >


                <form  action="#"  method='POST'  enctype="multipart/form-data" class="form-horizontal">
                    <div id="formphp">
                        {{form(intent)}}   

                        <div class="col-sm-12"> 
                            <!-- par methode ajax -->
                            <label for="ajoutdata"> AJOUTER </label> 
                            <input type="submit"   name="ajoutdata" class="btn btn-success btn-lg">
                            <label for="reset"> VIDE </label>    
                            <input type="reset" name="reset"  class="btn btn-success btn-lg">
                        </div>
                    </div>
                    {{ block('progress') }}
                </form>

            </div>      
        </div>

    </div>

{% endblock %}


{% block footer %}
    <script src="/public/Framework/BootstrapMultiSelect/js/jquery.quicksearch.js" type="text/javascript"></script>
    <script src="/public/Framework/BootstrapMultiSelect/js/jquery.multi-select.js" type="text/javascript"></script>
    <script src="/public/Framework/BootstrapSelect/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="/public/Framework/BootstrapSelect/i18n/defaults-fr_FR.min.js" type="text/javascript"></script>
           <script src="/public/Framework/JqueryConfirm/jquery-confirm.min.js"></script>
    
    <script src="/public/AWA/set_data_par_ajax.js" type="text/javascript"></script>
    <script src="/public/AWA/app.multi-select.js" type="text/javascript"></script>
    <script src="/public/AWA/calculeTTC.js" type="text/javascript"></script>
 
{% endblock %}