{% extends "themes.twig" %}
{% use "@traitement/plugins/progress.twig" %}


{% block headcss %}

    <!-- Bootstrap-select Custom CSS -->
    <link href="/public/comptable/traitement/css/bootstrap-select-css/bootstrap-select.min.css" rel="stylesheet" type="text/css"/>
    <!-- multi-select Custom CSS -->
    <link href="/public/comptable/traitement/css/multi-select.dev.css" rel="stylesheet" type="text/css"/>

{% endblock %}


{% block container %}
    <div id="status">
        <div class="row" style="margin: 5px">
            <div id="wform" >


                <form  action="#"  method='POST'  enctype="multipart/form-data" class="form-horizontal">
                    <div id="formphp">
                        {{form(intent)}}   

                        <div class="col-sm-12"> 
                            <!-- par methode ajax -->
                            <label for="ajoutdata"> AJOUTER </label> 
                            <input type="submit"   name="ajoutdata" class="btn btn-success btn-lg">
                            <label for="reset"> VIDE </label>    
                            <input type="reset" name="reset"  class="btn btn-success btn-lg">
                        </div>
                    </div>
                    {{ block('progress') }}
                </form>

            </div>      
        </div>
    </div>

{% endblock %}


{% block footer %}
    <script src="/public/comptable/traitement/js/jquery.quicksearch.js" ></script>
    <script src="/public/comptable/traitement/js/jquery.multi-select.js" ></script>
    <script src="/public/comptable/traitement/js/bootstrap-select-js/bootstrap-select.min.js" ></script>
    <script src="/public/comptable/traitement/js/bootstrap-select-js/i18n/defaults-fr_FR.min.js" ></script>

    <script src="/public/comptable/traitement/set_data_par_ajax.js" ></script>
    <script src="/public/comptable/traitement/app.multi-select.js" ></script>
    <script src="/public/comptable/traitement/calculeTTC.js" ></script>
{% endblock %}