{% extends "themes.twig" %}

{% block headcss %}
    <!-- Bootstrap-select Custom CSS -->
    <link href="/public/admin/selectbootstrap/css/bootstrap-select.min.css" rel="stylesheet" type="text/css"/>

{% endblock %}





{% block headjs %}

    <!-- bootstrap-select Core JavaScript -->
    <script src="/public/admin/selectbootstrap/js/bootstrap-select.min.js"></script>
{% endblock %}




{% block container %}
<div class="row center-block ">

      <div class="col-md-7 cadre " style="margin-left: 5px">

        <form  action=""  method='GET'  enctype="multipart/form-data" class="form-group">

          <div class="row"> 
            <h1>select option</h1>
            <br>
         {{form(intent)}}  

          </div>
          <div class="row"> 

            <label for="ok">  </label>          
            <input type="submit" name="ajouter" class="btn btn-primary center-block" value="Valider">
          </div>
        </form>
      </div> 

      <div class="col-md-4 center-block" >

        <div id="affiche" class=" alert alert-info">

        </div>
      </div>     


    </div>





{% endblock %}

{% block footer %}

    <script>

        var affiche = document.getElementById("affiche");

        $(".form-string")
                .change(function () {
                  var content = "";
                  var charge = "";
                  $("select option:selected").each(function () {

                    content = $(this).data("infocontent");

                    var text = content.split("£££");
                    text.pop();

                    var info = "<div class='panel panel-primary'>  <div class='panel-heading'></div><div class='panel-body'   <p>";

                    for (var i = 0; i < text.length; i++) {
                      var data = text[i].split("$$$");

                      info += "<strong> " + data[0] + "     :</strong>   " + data[1] + "<br>";

                    }

                    charge = charge + info + "<hr> </div> <div class='panel-footer'>  </div> </div>";


                  });

                  $(affiche).html(charge);
                })
                .trigger("change");




    </script>     

{% endblock %}