{% block showmode %}
    <button type="button" class="pull-right glyphicon glyphicon-th-list btn btn-primary" data-toggle="modal" data-target="#boxSelectMode" style="margin-bottom: 10px;margin-right: 10px">

    </button>



    <div class="modal fade" id="boxSelectMode"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Les Paramètres d'affichage </h4>
                </div>
                <div class="modal-body">
                    <form action="" method="GET" class="">
                        <div class="row">
                            
                            <div class="btn-group col-sm-12" data-toggle="buttons">

                                <label class="not_focus btn btn-primary {% if jsCharges.copier == true %} active {% endif %} " >
                                    <input type="checkbox" name="copier" {% if jsCharges.copier == true %} checked {% endif %}  autocomplete="off"  value="on"> <i class="fa fa-files-o"></i>'
                                </label>
                                <label class="not_focus btn btn-primary {% if jsCharges.pdf == true %} active {% endif %} ">
                                    <input type="checkbox" name="pdf" {% if jsCharges.pdf == true %} checked {% endif %}  autocomplete="off" value="on"> <i class="fa fa-file-pdf-o"></i>
                                </label>
                                <label class="not_focus btn btn-primary {% if jsCharges.excel == true %} active {% endif %}">
                                    <input type="checkbox" name="excel"  {% if jsCharges.excel == true %} checked {% endif %} autocomplete="off" value="on">  <i class="fa fa-file-excel-o"></i>
                                </label>
                                <label class="not_focus btn btn-primary {% if jsCharges.print == true %} active {% endif %}">
                                    <input type="checkbox" name="impression" {% if jsCharges.print == true %} checked {% endif %}  autocomplete="off" value="on">  <i class="glyphicon glyphicon-print"></i>
                                </label>
                            </div>

                        </div>   
                        <div class="row">
                            <div class="checkbox col-sm-12">
                                <label>
                                    <input type="checkbox" name="control" value="ok"> controle donnee(modifier supprimer)
                                </label>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-sm-6">
                                <select class="selectpicker show-tick" data-style="btn-success"  data-width="90%" name="pere">
                                    <option data-subtext="De père"  {% if modeSelectpere == "MASTER" %} selected {% endif %}   value="resume">voir résumé des information</option>
                                    <option data-subtext="De père" {% if modeSelectpere == "DEFAULT" %} selected {% endif %}    value="defaut">voir defaut des information</option>
                                    <option data-subtext="De père" {% if modeSelectpere == "ALL" %} selected {% endif %}    value="tous">voir tous les information</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <select class="selectpicker show-tick" data-style="btn-info"  data-width="90%" name="fils">
                                    <option data-subtext="Des Fils" {% if modeSelectenfant == "EMPTY" %} selected {% endif %} value="rien">voir rien</option>
                                    <option data-subtext="Des Fils" {% if modeSelectenfant == "MASTER" %} selected {% endif %} value="resume">voir résumé des information</option>
                                    <option data-subtext="Des Fils" {% if modeSelectenfant == "DEFAULT" %} selected {% endif %} value="defaut">voir defaut des information</option>
                                    <option data-subtext="Des Fils" {% if modeSelectenfant == "ALL" %} selected {% endif %} value="tous">voir tous les information</option>
                                </select>
                            </div>
                        </div> 
                        <button type="submit"  class="btn-primary btn"> <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span></button>
                    </form>
                </div><!-- /.modal-body -->
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}