{% extends "navigation.twig" %}




{% block body %}



    <div id="page-wrapper">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Hope Drip</h1>
        </div>
        <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
      <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-success" style="overflow: auto;padding:  15px">
            
            {% block container %}
            
            {% endblock %}
          </div>
        </div>
        <!-- /.col-lg-12 -->
      </div>

    </div>


{% endblock %}


