{% extends "themes.twig" %}


{% block container %}
    
    <a href="?ajouter=ajouter" class="btn">ajouter<a/>
    
    <div class ="container">
      <h1>{{title}}  </h1>
      <div class="row">
        <div id="wtable"  >
          {{table |raw}}   
        </div>
      </div>


    </div>


{% endblock %}