{% extends "themes.twig" %}


{% block container %}
    <div class ="container">
      <h1>{{title}}  </h1>
      <div class="row">
        <div id="wtable"  >
          <h1>testtesttesttesttesttesttest</h1>
          {{table |raw}}   
        </div>
      </div>
    </div>

    <div class ="container">
      <div class="row">
        <div id="wform" class="cadre">
          <form  action="#"  method='POST'  enctype="multipart/form-data">
            {{form|raw }}   <div class="form-group">
              <label for="ok"> AJOUTER </label>            <input type="submit" name="ajout_data" class="btn btn-primary btn-lg" >
              <label for="reset"> VIDE </label>            <input type="reset" name="reset"  class="btn btn-success btn-lg"></div> 
          </form>
        </div>      
      </div>
    </div> 

    <h1>Index</h1>
    <p class="important">
      Welcome on my awesome homepage.
    </p>
{% endblock %}