{% extends "themes.twig" %}


     {% block headcss %}
    
      {% endblock %}
      
      
      
   
    
     {% block headjs %}
    

    {% endblock %}







{% block container %}
    <div class ="container">
      <h1>{{title}}  </h1>
      <div class="row">
        <div id="wtable"  >
          {{message |raw}}   
        </div>
      </div>
    </div>


              
             
    <h1>Index</h1>
    <p class="important">
      Welcome on my awesome homepage.
    </p>
{% endblock %}

  {% block footer %}
 
    {% endblock %}