{% extends "themes.twig" %}
{% block container %}




    <h1>select option</h1>
    <div class="row">
      <div class="col-md-6">

        <form  action=""  method='GET'  enctype="multipart/form-data" class="form-horizontal">
          <div class="row"> 
            {{html(form)}}  
          </div>
          <div class="row"> 
            <label for="ok"> ===> </label>          
            <input type="submit" name="ajouter" class="btn btn-primary " >
          </div>
        </form>
      </div> 

      <div class="col-md-6">
        <div id="affiche" class=" alert alert-info">

        </div>
      </div>     


    </div>

    <script>
        var affiche = document.getElementById("affiche");

        $(".form-string")
                .change(function () {
                  var content = "";
                  var charge = "";
                  $("select option:selected").each(function () {

                    content = $(this).data("content");

                    var text = content.split("£££");
                    text.pop();

                    var info = "<div class='panel panel-primary'>  <div class='panel-heading'></div><div class='panel-body'   <p>";
                            
                    for (var i = 0; i < text.length; i++) {
                      var data = text[i].split("$$$");

                      info += "<strong> " + data[0] + "     :</strong>   " + data[1] + "<br>";

                    }

                    charge = charge + info + "<hr> </div> <div class='panel-footer'>  </div> </div>";


                  });

                  $(affiche).html(charge);
                })
                .trigger("change");




    </script>     

{% endblock %}