<!DOCTYPE html>
<html lang="fr">

  <head>



    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>   {{_page}}</title>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Bootstrap Core CSS -->
    <link href="/public/templete/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/templete/css/over-bootstrap.css" rel="stylesheet" type="text/css"/>
    <!-- MetisMenu CSS -->
    <link href="/public/templete/css/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    
    <link href="/public/templete/css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/public/templete/css/font-awesome.min.css" rel="stylesheet" type="text/css">
   
     <link href="/public/chl.css" rel="stylesheet" type="text/css"/>


    {% block headcss %}


    {% endblock %}



    <!-- jQuery -->
    <script src="/public/templete/js/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/public/templete/js/bootstrap.min.js"></script>

    {% block headjs %}


    {% endblock %}


  </head>

  <body style="padding-top: 14px ;     font-size: 13px;">
    <div id="wrapper">



      {% block Navigation %}

      {% endblock %}

      <div id="page-wrapper">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="page-header">{{_page}} <small>Secondary text</small></h1>
          </div>
          <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-lg-12">
              {% block controle %}

              {% endblock %}
            
            
            <div class="panel panel-success" style="overflow: auto;padding:  10px">

              {% block container %}

              {% endblock %}
            </div>
          </div>
          <!-- /.col-lg-12 -->
        </div>

      </div>





    </div>
    <!-- /#wrapper -->
  

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/public/templete/js/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/public/templete/js/sb-admin-2.js"></script>
  {% block footer %}

    {% endblock %}
  </body>

</html>
